

<div class="container m-1">
  <div class="row m-3">
    <div class="col-6"></div>
    <div class="col-3"></div>
    <div class="col-3">
      <button mat-raised-button color="primary" (click)="addVideo()">Add video</button>
    </div>
  </div>
  <div class="row m-1"><div class="col-6">
    VideoId
  </div>
  <div class="col-6">
    video
  </div>
  </div>
  <div class="row m-1" *ngFor="let item of (videoList | async)">
    <div class="col-6">
      {{item.videoId}}
    </div>
    <div class="col-6">
      <video width="200" height="100">
        <source [src]="getUrl(item.name)" type="video/mp4" />
     </video>
    </div>
  </div>
</div>
