<div class="container mt-2" >
  <div class="video">
    <video
      crossorigin="anonymous"
      #videoPlayer
      height="400"
      class="azuremediaplayer amp-default-skin amp-big-play-centered"
      (timeupdate)="getCurrentTime($event)"
      (loadeddata)="getCurrentTime($event)"
    >
    </video>
    <div class="row controls p-0">
      <div class="col-5 justify-center" (dblclick)="backward(10)">
        <mat-icon class="m-3 video-controls text-right" (click)="backward(10)"
          >replay_10</mat-icon
        >
      </div>
      <div class="col-2 justify-center">
        <mat-icon
          class="m-3 video-controls"
          *ngIf="!videoStatus"
          (click)="play()"
        >
          play_arrow</mat-icon
        >
        <mat-icon
          class="m-3 video-controls"
          *ngIf="videoStatus"
          (click)="pause()"
          >pause</mat-icon
        >
      </div>
      <div class="col-5 justify-center" (dblclick)="forward(10)">
        <mat-icon class="m-3 video-controls text-left" (click)="forward(10)"
          >forward_10</mat-icon
        >
      </div>
    </div>

    <div class="timeline">
      <mat-slider
        min="0"
        max="100"
        class="slider"
        [value]="getProgressValue(time)"
        (input)="timelineDragged($event)"
      ></mat-slider>
      <div class="markerList">
        <div
          *ngFor="let marker of annotationMarkerList"
          class="marker"
          [matTooltip]="marker.comments"
          (click)="jumpToAnnotation(marker.videoPlayerTime)"
          [style.left]="calculateMargin(marker.videoPlayerTime)"
        ></div>
      </div>
      <div class="time">
        {{ getFotmattedTime(time) }}/ {{ getFotmattedTime(duration) }}
      </div>
    </div>
    <div class="subtitle-container" *ngIf="isSubtitle.show">
      <div class="row">
        <div class="col-12">
          <p class="m-0">{{isSubtitle.comment}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-2 align-end border-bottom p-1 w-auto">
    <div class="align-end label">
      Quality : <span class="bold-2"> 480P 720P RAW</span>
    </div>
  </div>
</div>
