<div class="drop-video-wrapper">
  <div class="header">New Procedure</div>
  <div class="content">
    <div class="video-uploader">
      <div class="card video-upload">
        <div class="card-header">Video Files</div>
        <div class="card-body">
          Upload all videos associated with this procedure by dropping them in
          the area below, or by clicking below and selecting your file(s).
          <b
            >Please do not navigate off this page until all video uploads have
            completed</b
          >
          <div
            class="file-drop"
            appDragDrop
            (fileDropped)="onFileDropped($event)"
            (click)="fileDropRef.click()"
          >
            <input
              type="file"
              #fileDropRef
              id="fileDropRef"
              multiple
              (change)="fileBrowseHandler($event)"
            />
            <div class="file-drop-box">Drop File(s) or Click Here</div>
          </div>
          <div class="files-list">
            <div class="single-file" *ngFor="let file of files; let i = index">
              <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file" />
              <div class="info">
                <h4 class="name">
                  {{ file?.name }}
                </h4>
                <p class="size">
                  {{ formatBytes(file?.size) }}
                </p>
                <mat-progress-bar
                  *ngIf="processing === true"
                  mode="determinate"
                  [value]="file?.progress"
                ></mat-progress-bar>
              </div>
              <img
                src="assets/img/dnd/ic-delete-file.svg"
                class="delete"
                width="20px"
                alt="file"
                (click)="deleteFile(i)"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card patient-info">
        <div class="card-header">Patient Information</div>
        <div class="card-body">
          <form
            class="patient-info-form"
            [formGroup]="procedureForm"
            (ngSubmit)="onSubmit()"
          >
            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Patient ID</mat-label>
              <input matInput required formControlName="patientId" />
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Procedure Date</mat-label>
              <input
                matInput
                required
                [matDatepicker]="picker2"
                formControlName="procedureDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Patients Date of Birth</mat-label>
              <input
                matInput
                required
                [matDatepicker]="picker"
                formControlName="patientDob"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
              <mat-label>Study</mat-label>
              <mat-radio-group class="radio-group" formControlName="study">
                <mat-radio-button
                  *ngFor="let item of (studyList | async)"
                  color="primary"
                  class="radio-button"
                  value="{{ item }}"
                  (change)="studyUpdate($event)"
                  >{{ item }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Site</mat-label>
              <mat-select required formControlName="site">
                <mat-option *ngFor="let item of (roleList | async)" value="{{item.name}}">{{item.name}}</mat-option>

              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Procedure Type</mat-label>
              <mat-select required formControlName="procedureType">
                <mat-option value="kaleidoscope">Kaleidoscope</mat-option>
                <mat-option value="periscope">Periscope</mat-option>
                <mat-option value="mercedes">Mercedes</mat-option>
                <mat-option value="audi">Audi</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Conducting Surgeon</mat-label>
              <mat-select required formControlName="conductingSurgeon">
                <mat-option value="kaleidoscope">Steve Mathews</mat-option>
                <mat-option value="periscope">John Smith</mat-option>
                <mat-option value="mercedes">David Warner</mat-option>
                <mat-option value="audi">Shane Watson</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Surgical Device Liaison (if present)</mat-label>
              <mat-select formControlName="surgicalDeviceLiaison">
                <mat-option value="kaleidoscope">Steve Mathews</mat-option>
                <mat-option value="periscope">John Smith</mat-option>
                <mat-option value="mercedes">David Warner</mat-option>
                <mat-option value="audi">Shane Watson</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
