<div class="container">
  <div class="row border-bottom p-1 w-auto">
    <div class="col align-start">
      <div class="label bold-1 pr-1">Implant-</div>
      <div class=" bold-1">{{(procedureDetail | async)?.implant  || '-'}}</div>
    </div>
    <div class="col align-end">
      <div class="label pr-1">Procedure ID:</div>
      <div class="values bold-2">{{(procedureDetail | async)?.procedureId || '-'}}</div>
    </div>
  </div>

  <div class="row border-bottom p-1 w-auto">
    <div class="col align-start">
      <div class="label pr-1">Patient ID:</div>
      <div class="values bold-2">{{(procedureDetail | async)?.patientId || '-'}}</div>
    </div>
    <div class="col align-end">
      <div class="label pr-1">Procedure Date:</div>
      <div class="values bold-2">{{((procedureDetail | async).procedureDate | date) || '-'}}</div>
    </div>
  </div>

  <div class="row border-bottom p-1 w-auto">
    <div class="col align-start">
      <div class="label pr-1">Site :</div>
      <div class="values bold-2">{{(procedureDetail | async)?.site || '-'}}</div>
    </div>
    <div class="col align-end">
      <div class="label pr-1">Status: </div>
      <div class="values bold-2">{{(procedureDetail | async)?.status || '-'}}</div>
    </div>
  </div>
  <div class="row border-bottom p-1 w-auto">
    <div class="col align-start">
      <div class="label pr-1">Procedure Length: </div>
      <div class="values bold-2">{{(procedureDetail | async)?.procedureLength || '-'}}</div>
    </div>
  </div>
  <div class="col-12  p-1 ">
    <div class="row align-start">
      <div class="label pr-1">Conducting Surgeon:</div>
      <div class=" bold-2">{{(procedureDetail | async)?.conductingSurgeon || '-'}}</div>
    </div>
    <div class="row align-start mt-2">
      <div class="label pr-1">Surgical Device Liason:</div>
      <div class=" bold-2">{{(procedureDetail | async)?.surgicalDeviceLiaison || '-'}}</div>
    </div>
  </div>
</div>
