<div class="container">
  <div class="row border-bottom p-1 w-auto">
    <div class="col align-start">
      <div class="label bold-1 pr-1">Implant-</div>
      <div class=" bold-1">Archway</div>
    </div>
    <div class="col align-end">
      <div class="label pr-1">procedure ID:</div>
      <div class="values bold-2">#392</div>
    </div>
  </div>

  <div class="row border-bottom p-1 w-auto">
    <div class="col align-start">
      <div class="label pr-1">Patient ID:</div>
      <div class="values bold-2">1234567</div>
    </div>
    <div class="col align-end">
      <div class="label pr-1">Procedure Date:</div>
      <div class="values bold-2">01/01/2020</div>
    </div>
  </div>

  <div class="row border-bottom p-1 w-auto">
    <div class="col align-start">
      <div class="label pr-1">site :</div>
      <div class="values bold-2">kaleidoscope</div>
    </div>
    <div class="col align-end">
      <div class="label pr-1">Status: </div>
      <div class="values bold-2">scrubbed on 11/01/2020</div>
    </div>
  </div>
  <div class="row border-bottom p-1 w-auto">
    <div class="col align-start">
      <div class="label pr-1">Procedure Length: </div>
      <div class="values bold-2">00:20</div>
    </div>
  </div>
  <div class="col-12 border-bottom p-1 ">
    <div class="row align-start">
      <div class="label pr-1">Conducting Surgeon:</div>
      <div class=" bold-2">Surgeon Not Listed</div>
    </div>
    <div class="row align-start mt-2">
      <div class="label pr-1">Surgical Device Liason:</div>
      <div class=" bold-2">No SDL Present</div>
    </div>
  </div>
</div>
