<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Clinical Video Trial</span>
    <span class="example-spacer"></span>
    <div class="user-data">
      <div class="col-12 mr-2">
        <span class="m-0 name" *ngIf="username || getUserName()"
          >Hi, {{ getUserName() || "" }}</span
        >
        <span>{{ getUserRole() || "" }}</span>
      </div>
    </div>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidebarnav" mode="side" [(opened)]="opened">
    <mat-nav-list class="selection-list">
      <a
        mat-list-item
        routerLink="/procedures-list"
        routerLinkActive="active-link"
      >
        List all Procedures
      </a>
      <a
        *ngIf="canAddProcedure()"
        mat-list-item
        routerLink="/add-procedure"
        routerLinkActive="active-link"
      >
        Add Procedure
      </a>
      <a
        *ngIf="canUplaodVideo()"
        mat-list-item
        routerLink="/file-uploader"
        routerLinkActive="active-link"
      >
        Upload Videos
      </a>
      <a
        *ngIf="idSuperAdmin()"
        mat-list-item
        routerLink="/admin-dashboard"
        routerLinkActive="active-link"
      >
        Admin Dashboard
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
