<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Clinical Video Trial</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidebarnav" mode="side" [(opened)]="opened">
    <mat-nav-list class="selection-list">
      <a
        mat-list-item
        routerLink="/procedures-list"
        routerLinkActive="active-link"
      >
        List all Procedures
      </a>
      <a
        mat-list-item
        routerLink="/add-procedure"
        routerLinkActive="active-link"
      >
        Add Procedure
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
 </mat-sidenav-container>
