.admin-container{
    padding: 5px 10px;
    .dropdown-cntainer {
        padding: 10px 25px;
        .dropdown-input {
            padding-left: 20px;
        }
    }
}
.table{
    width: 100%;
   }
.mat-column-action {
    padding-left: 0px;
}
.mat-column-status {
    
    padding-left: 0px!important;
    
}