<div class="container">
  <div class="row m-2 w-auto h-100">
    <div class="col-6">
      <div class="lable bold-2 m-1 text-right">
        Number of Procedures for same patient - {{ procedure.video.length }}
      </div>
    </div>
    <div class="col-6">
      <div class="row align-end">
        <button
          mat-raised-button
          color="{{ !showVideoList ? 'primary' : 'accent' }}"
          class="m-1"
          (click)="toggleVideoList()"
        >
          {{ showVideoList ? "Hide ALL" : "View ALL" }}
        </button>
        <button mat-raised-button color="primary" class="m-1">Download</button>
      </div>
    </div>
  </div>
  <div class="row m-2" *ngIf="showVideoList">
    <mat-accordion class="w-inherit m-2">
      <mat-expansion-panel *ngFor="let item of procedure.video; let i = index">
        <mat-expansion-panel-header>
          #{{ i + 1 + ") " }} {{ item.name }}
        </mat-expansion-panel-header>
        <div class="row w-auto">
          <div class="col-4">
            <p>Video ID: {{ item.videoId }}</p>
          </div>
          <div class="col-4">
            <video src="{{ item.name }}" width="100px"></video>
          </div>
          <div class="col-4">
            <div class="row">
              <!-- <a
                href="http://localhost:3000/procedure/downloadVideo/big_buck_bunny_720p_10mb-1609219451682-499289986.mp4"
                download="big_buck_bunny_720p_10mb-1609219451682-499289986.mp4"
                target="_blank"
                >download</a
              > -->
              <button
                mat-raised-button
                color="primary"
                class="m-1"
                (click)="changeCurrentVideo(item)"
              >
                View
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-1"
                (click)="downloadVideo(item)"
              >
                Download
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
